:root {
    box-sizing: border-box;
    font-family: 'Poppins';
}

* {
    box-sizing: inherit;
}

html {
    background-image: url(./assets/img/background-image.jpg);
    background-position: left;
    background-size: cover;
    z-index: 1;
    width: 100%;
    height: 100%;
}

#odin-logo {
    width: 100px;
    z-index: -1;
    top: 200px;
    left: 100px;

}

span {
    background-color: rgb(202, 84, 100, 30%);
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background {
    position: relative;
    top: 250px;
}

#credit {
    color: white;
    position: absolute;
    top: 800px;
    left: 40px;
}

.container {
    width: calc(100% - 400px);
    height: 100vh;
    background-color: white;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
}

form {
    position: relative;
    left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 200px;
}

#text-div {
    padding: 20px;
    text-align: justify;
    width: 700px;
}

.form-div {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 500;
}

input {
    width: 200px;
    height: 25px;
    box-shadow: 1px 3px 1px 2px rgb(137, 20, 22);
    border-radius: 5px;
}

.btn {
    background-color: #891416;
    width: 180px;
    height: 40px;
    border-radius: 10px;
    position: relative;
    left: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#signup-form {
    display: flex;
    gap: 30px;
    flex-direction: column;
    
}

input:invalid {
    border: 3px solid red;
}

input:valid {
    border: 3px solid green;
}

@media (max-width: 1280px) {
    
    form {
        column-gap: 150px;
    }
} 

/* @media (min-width: 1000px) {
    body {
        display: flex;
        flex-direction: column;
    }

    form {
        width:fit-content;
        column-gap: 50px;
        height: 100vh;
    }
    .container {
        width: fit-content;
        height: 100vh;
    }

} */